<header>
  <img
    src="assets/img/dener.jpg"
    alt="Dener Troquatte - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Dener Troquatte</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs | NestJs</p>
    <p>Guarulhos, São Paulo, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software mais de 10 anos. Devido isso
      resolvi abraçar a stack JS pois atua no Frontend / Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/dener-s%C3%A3o-pedro-troquatte-ababa079/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (11) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:dener@vidafullstack.com.br" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>dener&#64;vidafullstack.com.br</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
