:host {
  margin-top: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    text-align: center;
    margin: 0 0 25px 0;
  }

  details {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    background: var(--black-010);
    color: var(--white);
    border-radius: 7px;

    p,
    summary {
      padding: 10px 30px;
      transition: 500ms ease-out;
    }

    summary {
      cursor: pointer;

      display: flex;
      flex-direction: column;
      background: var(--primary);
      font-size: 14px;
      color: var(--black-010);
    }

    &[open]::before,
    &:not([open])::before {
      position: absolute;
      right: 30px;
      top: 15px;
    }

    &[open] {
      &::before {
        content: url("../../../../../assets/icons/chevron-up.svg");
      }

      summary {
        background: var(--primary);
        border-radius: 7px 7px 0 0 !important;
      }
    }

    &:not([open]) {
      p {
        animation: sweepC 1s;
      }

      &::before {
        content: url("../../../../../assets/icons/chevron-down.svg");
      }
    }
  }
}
