:host {
  margin-top: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    text-align: center;
    margin: 0 0 25px 0;
  }

  details {
    overflow: hidden;
    margin-top: 10px;
    background: var(--black-010);
    border-radius: 7px;
    color: var(--white);

    article,
    summary {
      padding: 10px 20px;
      transition: 500ms ease-out;
      color: var(--grey);
    }

    summary {
      cursor: pointer;

      display: flex;
      justify-content: space-between;
      align-items: center;

      background: var(--primary);

      p {
        font-size: 14px;
        color: var(--black-010);

        padding: 0;
        display: flex;
        flex-direction: column;
      }
    }

    &[open] {
      summary {
        &::after {
          content: url("../../../../../assets/icons/chevron-up.svg");
        }
        background: var(--primary);
        border-radius: 7px 7px 0 0 !important;
      }
    }

    &:not([open]) {
      summary {
        &::after {
          content: url("../../../../../assets/icons/chevron-down.svg");
        }
      }
    }
  }
}
